<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Perfil de Usuario</h1>

      <form id="formulario" class="form">
        <label for="name">Bienvenido:</label>
        <input type="text" id="name" name="name" value="<%= name %>" />

        <label for="email">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          value="<%= email %>"
          disabled
        />

        <label for="password">Contraseña:</label>
        <input
          type="text"
          id="password"
          name="password"
          placeholder="Nueva contraseña"
        />

        <input type="submit" value="Actualizar Datos" />
      </form>

      <button id="btn-borrarUser" class="danger">Borrar Usuario</button>

      <a href="/logout" class="link">
        <button type="button">Cerrar Sesión</button>
      </a>
    </div>
  </body>
</html>

<script>
  const formulario = document.getElementById("formulario");
  const btnBorrarUser = document.getElementById("btn-borrarUser");

  formulario.addEventListener("submit", async (event) => {
    event.preventDefault();

    const response = await fetch("/api/usuarios/update", {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        name: formulario.name.value,
        email: "<%= email %>",
        password: formulario.password.value,
      }),
    });

    const data = await response.json();

    // SE REALIZA UN LOGIN DENUEVO PARA ACTUALIZAR EL TOKEN SINO
    //  NOS QUEDARA INFORMACION DESACTUALIZADA
    if (response.ok) {
      alert(data.message);
      const respuesta = await fetch("/api/usuarios/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          email: "<%= email %>",
          password: formulario.password.value,
        }),
      });

      const data2 = await respuesta.json();

      if (respuesta.ok) {
        window.location.href = "/mi-usuario";
      } else {
        alert(data2.message || "Error en el login");
      }
    } else {
      alert(data.message || "Error en la actualizacion");
    }
  });

  btnBorrarUser.addEventListener("click", async (event) => {
    event.preventDefault();

    const response = await fetch("/api/usuarios/delete", {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        name: formulario.name.value,
        email: "<%= email %>",
        password: formulario.password.value,
      }),
    });

    const data = await response.json();

    if (response.ok) {
      window.location.href = "/logout";
    } else {
      alert(data.message || "Error en el borrado del usuario");
    }
  });
</script>
